.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100svh;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

p, button {
    color: hsl(224, 23%, 55%);
    font-size: 1rem;
    line-height: 1.6rem;
}

h2 {
    margin-top: 1.4em;
    color: hsl(223, 47%, 23%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 22rem;
    border-radius: 20px;
}

.illustration {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.info {
    padding-inline: 2.6em;
}

.plan {
    background-color: hsl(225, 100%, 98%);
    flex-direction: row;
    max-width: 18rem;
    width: 100%;
    padding-inline: 1em;
    border-radius: 10px;
    margin: 1em 0 2em;
}

.plan > p {
    margin-left: auto;
    font-weight: 700;
}

.changeplan a:hover {
    text-decoration: none;
    opacity: .6;
}


.planprice {
    margin-left: 2em;
}

.plantype {
    margin: .8em 0 0;
}

.price {
    margin: 0 0 .8em ;
}

.buttons {
    max-width: 20rem;
    width: 100%;
}

.buttons > * {
    padding: .6em 0;
    border: 0;
    font-weight: 700;
}

.payment {
    width: 100%;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    margin-bottom: 1.2em;
    box-shadow: 0 10px 20px hsla(245, 75%, 52%, .5);
}

.payment:hover {
    opacity: .6;
}

.cancel {
    width:45%;
    background-color: transparent;
    padding: .5em 0;
    margin-bottom: 1.6em;
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
}

@media (min-width: 35em) {

    .container {
        max-width: 26rem;
    }
}